BasedOnStyle: Google
AccessModifierOffset: -1
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
#AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BinPackParameters: true
BreakBeforeBinaryOperators: false
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: false
ColumnLimit: 0
CommentPragmas:  '^ IWYU pragma:'
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
DerivePointerBinding: false
ExperimentalAutoDetectBinPacking: false
IndentCaseLabels: true
IndentFunctionDeclarationAfterType: true
IndentWidth:     2
InsertNewlineAtEOF: true
# It is broken on windows. Breaks all #include "header.h"
---
Language:        Cpp
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: true
NamespaceIndentation: None
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: false
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  # O2Physics, PWG
  - Regex: ^(<|")PWG[A-Z]{2}/.*\.h
    Priority: 2
    CaseSensitive: true
  # O2Physics, non-PWG
  - Regex: ^(<|")(Common|ALICE3|DPG|EventFiltering|Tools|Tutorials)/.*\.h
    Priority: 3
    CaseSensitive: true
  # O2
  - Regex: ^(<|")(Algorithm|CCDB|Common[A-Z]|DataFormats|DCAFitter|Detectors|EMCAL|Field|Framework|FT0|FV0|GlobalTracking|GPU|ITS|MathUtils|MFT|MCH|MID|PHOS|PID|ReconstructionDataFormats|SimulationDataFormat|TOF|TPC|ZDC).*/.*\.h
    Priority: 4
    CaseSensitive: true
  # ROOT
  - Regex: ^(<|")(T[A-Z]|Math/|Roo[A-Z])[[:alnum:]/]+\.h
    Priority: 5
    CaseSensitive: true
  # known third-party: KFParticle
  - Regex: ^(<|")KF[A-Z][[:alnum:]]+\.h
    Priority: 6
    CaseSensitive: true
  # known third-party: FastJet
  - Regex: ^(<|")fastjet/
    Priority: 6
    CaseSensitive: true
  # known third-party: ONNX runtime
  - Regex: ^(<|")onnxruntime
    Priority: 6
    CaseSensitive: true
  # incomplete path to DataModel
  - Regex: ^(<|").*DataModel/
    Priority: 1
    CaseSensitive: true
  # other third-party
  - Regex: ^(<|")([[:alnum:]_]+/)+[[:alnum:]_]+\.h
    Priority: 6
    CaseSensitive: true
  # other local-looking file
  - Regex: ^".*\.
    Priority: 1
    CaseSensitive: true
  # C system
  - Regex: ^(<|")[[:lower:]_]+\.h(>|")
    Priority: 102
    CaseSensitive: true
  # C++ system
  - Regex: ^(<|")[[:lower:]_/]+(>|")
    Priority: 101
    CaseSensitive: true
  # rest
  - Regex: .*
    Priority: 100
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles:  false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
Standard:        Cpp11
TabWidth:        2
UseTab:          Never
---
# Do not format protobuf files
Language: Proto
DisableFormat: true
---
Language: Json
# O2 dumps JSON files with 4-space indents.
IndentWidth: 4
